<div class="row my-4">
    <div class="col-12">
        <h3>Paso #3: Descarga tus tablas</h3>
    </div>
</div>

@if (CanAddBoards)
{
    <Animate OptionsName="fadeIn">
        <div class="row my-5 align-items-center justify-content-center">
            <div class="col-auto">
                <Button Color="ButtonColor.Primary" Disabled="!CanAddBoards" @onclick="OnAddNewBoard">Agregar otra tabla</Button>
            </div>
        </div>
    </Animate>
}

<div class="row my-4 align-items-center justify-content-center">
    
    @foreach (var board in UserBoards)
    {
            <div class="col-auto">
                <BoardComponent @key="board.BoardId" LotteryCards="LotteryCards" Board="board" OnEditBoard="OnEditBoard" OnDeleteBoard="OnDeleteBoard" />
            </div>
    }

</div>

<div class="row my-5 align-items-center justify-content-center">
    <div class="col-auto">
        <Button Color="ButtonColor.Success" Disabled="!CanDownloadBoards" @onclick="() => OnDownloadBoards.InvokeAsync()">Descargar</Button>
    </div>
</div>


